@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-[#005480] text-[#005480] rounded-xl px-5 py-1 hover:bg-[#005480] hover:text-white transition;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  input,
  select,
  textarea {
    @apply focus:outline-none focus:ring-2 focus:ring-[#2A8B57];
  }
}
